<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Storyboard Page1 Assets/AlingRosa with broom.png</key>
		<dict>
			<key>frame</key>
			<string>{{2051, 1}, {1000, 1536}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1000, 1536}}</string>
			<key>sourceSize</key>
			<string>{1000, 1536}</string>
		</dict>
		<key>Storyboard Page1 Assets/AlingRosa without broom.png</key>
		<dict>
			<key>frame</key>
			<string>{{2051, 1003}, {1000, 1536}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1000, 1536}}</string>
			<key>sourceSize</key>
			<string>{1000, 1536}</string>
		</dict>
		<key>Storyboard Page1 Assets/Leaf.png</key>
		<dict>
			<key>frame</key>
			<string>{{3791, 1}, {150, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 200}}</string>
			<key>sourceSize</key>
			<string>{150, 200}</string>
		</dict>
		<key>Storyboard Page1 Assets/Leaf2.png</key>
		<dict>
			<key>frame</key>
			<string>{{3589, 1}, {150, 200}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 200}}</string>
			<key>sourceSize</key>
			<string>{150, 200}</string>
		</dict>
		<key>Storyboard Page1 Assets/Pinang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1539}, {1025, 1503}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1025, 1503}}</string>
			<key>sourceSize</key>
			<string>{1025, 1503}</string>
		</dict>
		<key>Storyboard Page1 Assets/bg1 final.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {2048, 1536}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2048, 1536}}</string>
			<key>sourceSize</key>
			<string>{2048, 1536}</string>
		</dict>
		<key>Storyboard Page1 Assets/broom with hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{3775, 153}, {184, 654}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {184, 654}}</string>
			<key>sourceSize</key>
			<string>{184, 654}</string>
		</dict>
		<key>Storyboard Page1 Assets/broom.png</key>
		<dict>
			<key>frame</key>
			<string>{{3589, 153}, {184, 654}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {184, 654}}</string>
			<key>sourceSize</key>
			<string>{184, 654}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>Storyboard Page1 Assets.png</string>
	</dict>
</dict>
</plist>
